<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Page</title>
</head>
    <body>

        <form>
        <main class="window">

                <h1>Login</h1>
                
                    <div class="input-container">
                        <input type="text" name="nome" id="nome" placeholder="User">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" id="password" placeholder="Password">
                        <i class="fa-solid fa-lock"></i>
                    </div> 

                    <div class="Remember">
                        <label>
                        <input type="checkbox" name="lembrar" id="lembrar">
                        Remember me
                        </label>
                        <a href="#">Forgot your password?</a>
                    </div>    
                    
                    <div>
                        <button type="submit" class="login">Login</button>
                    </div>

                    <div class="register-link">
                        <p>Dont have an account? <a href="#">Register</a></p>
                    </div>
        
        </main>
        </form> 

    </body>
</html>
